body{
    background-color: rgb(45, 182, 182);
    margin: 20px;
    padding: 20px;
}

.face-circle{
    height: 200px;
    width: 240px;
    border-radius: 50%;
    background-color: burlywood;
    box-shadow: 1px 1px 1px 8px black;
    top: 20%;
    left: 21%;
    position: relative;
}

.hair-on-right-eye{
    height: 110px;
    width: 140px;
    position: relative;
    border-top-left-radius: 90%;
    border-bottom-right-radius: 90%;
    background-color: rgb(49, 49, 26);
    top:1%;
    left:-3%;
    transform: rotate(175deg);
    z-index:2;
}

.hair-on-left-eye{
    height: 120px;
    width: 130px;
    position: relative;
    border-top-left-radius: 95%;
    border-bottom-right-radius: 95%;
    background-color: rgb(49,49,26);
    top:-60%;
    left: 45%;
    transform: rotate(78deg);
    z-index:1;
}

.right-white-eye{
    height: 100px;
    width: 100px;
    background-color: white;
    top:-85%;
    left: 1%;
    position: relative;
    border-radius: 50%;
    box-shadow: 1px 1px 1px 1px black;
}

.right-green-eye{
    height: 90px;
    width: 90px;
    background-color: rgb(6, 83, 6);
    top:7%;
    left: 10%;
    position: relative;
    border-radius: 50%;
}

.right-black-eye{
    height: 70px;
    width: 70px;
    background-color: rgb(3, 3, 3);
    top:10%;
    left: 20%;
    position: relative;
    border-radius: 50%;
}

.right-white-spot-eye{
    height: 30px;
    width: 30px;
    background-color: rgb(255, 255, 255);
    top:30%;
    left: 30%;
    position: relative;
    border-radius: 50%;
}

.left-white-eye{
    height: 100px;
    width: 100px;
    background-color: white;
    top:-138%;
    left: 58%;
    position: relative;
    border-radius: 50%;
    box-shadow: 1px 1px 1px 1px black;
}

.left-green-eye{
    height: 90px;
    width: 90px;
    background-color: rgb(6, 83, 6);
    top:7%;
    left: 1%;
    position: relative;
    border-radius: 50%;
}

.left-black-eye{
    height: 70px;
    width: 70px;
    background-color: rgb(3, 3, 3);
    top:10%;
    left: 1%;
    position: relative;
    border-radius: 50%;
}

.left-white-spot-eye{
    height: 30px;
    width: 30px;
    background-color: rgb(255, 255, 255);
    top:30%;
    left: 30%;
    position: relative;
    border-radius: 50%;
}

.black-spot-on-cheek{
    height:5px;
    width: 5px;
    background-color: black;
    position: relative;
    border-radius: 50%;
    top: -135%;
    left:70%;
}

.smile{
    height: 25px;
    width: 20px;
    background-color: black;
    position: relative;
    border-top-left-radius: 90%;
    border-bottom-left-radius:90%;  
    transform: rotate(270deg);
    top:-140%;
    left: 47%;
    box-shadow: 1px 1px 1px 1px black;
}

.tongue{
    height: 25px;
    width: 10px;
    background-color: brown;
    position: relative;
    top:1px;
    left: 1px;
    border-top-left-radius: 80%;
    border-bottom-left-radius:90%; 
    border-top-right-radius: 80%;
    border-bottom-right-radius: 90%;
}

.hairs{
    height: 300px;
    width:230px;
    background-color: rgb(49, 49, 26);
    position: relative;
    z-index:-1;
    left:21.5%;
    top: -50px;
    border-top-left-radius: 20%;
    border-top-right-radius:20%;
    box-shadow: 1px 1px 1px 4px black;
}

.body-part{
    height: 180px;
    width: 130px;
    position: relative;
    background-color: maroon;
    left:20%;
    box-shadow: 1px 1px 1px 4px black;
}

.middle-black-body-part{
    height:80px;
    width: 130px;
    position: relative;
    background-color: black;
    top: 40%;
}

.right-leg{
    height:120px;
    width: 60px;
    position: relative;
    background-color: white;
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 40%;
    left:20%;
    box-shadow: 1px 1px 1px 4px black;
    z-index:-1;
}

.left-leg{
    height:120px;
    width: 60px;
    position: relative;
    background-color: white;
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 40%;
    left:50%;
    top:-40%;
    box-shadow: 1px 1px 1px 4px black;
    z-index:-1;
}

.right-hand{
    height: 150px;
    width: 30px;
    position: relative;
    background-color: white;
    top:-380px;
    left: 5%;
    border-radius: 90%;
    transform: rotate(15deg);
    z-index: -1;
}

.left-hand{
    height: 150px;
    width: 30px;
    position: relative;
    background-color: white;
    top:-175%;
    left: 80%;
    border-radius: 90%;
    transform: rotate(165deg);
    z-index: -1;
}
